{% load static %}

<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
	 <a href="https://www.facebook.com/profile.php?id=100004684718739" class="social-icon si-rounded si-small si-linkedin" target="_blank">
  	   <i class="icon-facebook"><img src = "{% static 'images/facebook.png' %}" height="50" width="50"></i>
	 </a>
      </li>
      <li class="list-inline-item">
	 <a href="https://twitter.com/yogeshmbs199" class="social-icon si-rounded si-small si-linkedin" target="_blank">
  	   <i class="icon-twiter"><img src = "{% static 'images/twitter.png' %}" height="30" width="30"></i>
	 </a>
      </li>
      <li class="list-inline-item">
	 <a href="https://www.linkedin.com/in/malepati-yogesh-kumar-2136b6130/" class="social-icon si-rounded si-small si-linkedin" target="_blank">
  	   <i class="icon-linkedin"><img src = "{% static 'images/linkidin.png' %}" height="30" width="30"></i>
	 </a>
      </li>

      <li class="list-inline-item">© 2020 Copyright:
	      <a href=""> Yogesh</a>
      </li>
    </ul>
    <!-- Social buttons -->

  </div>
  <!-- Footer Elements -->


</footer>
<!-- Footer -->
