{% load static %}
<style>
.hello-msg{
        font-size: 18px;
        color: #fff;
        margin-right: 20px;

}

ul li{
    display: inline;
}
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <img src = "{% static 'images/logo.png' %}" height="50" width="150">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
          <ul  style = "width: 100%; float:right">
        {% if request.user.is_staff %}
      <li class="nav-item active">
              <a class="hello-msg" href="{% url 'home' %}">DashBoard</a>
      </li>
      <li class="nav-item">
              <a class="hello-msg" href="{% url 'products' %}">Products</a>
      </li>
      {% else %}
       <li class="nav-item">
           <a class="nav-link" href="{% url 'account' %}">Settings</a>
       </li>
       {% endif %}
       <li class="nav-item" style = "float:right">
               <a class="hello-msg" href = "{% url 'logout' %}" >Logout</a>
       </li>
       <li class="nav-item" style = "float:right">
               <a class="hello-msg" href = "" > Hello, {{request.user}}</a>
       </li>

    </ul>
  </div>
</nav>

